<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %> 
<body>
  <header>
    <%- include("partials/header.ejs") %> 
  </header>
  <main class="index-main">
    <div class="container overflow-auto">
    <div class="row">
      <% for (let i = 0; i < pokemon.length; i++) { %>
        <div class="col">
          <a href="/pokemon/<%=i%>">
            <img class="index-image rounded border border-dark" src="<%=pokemon[i].img%>" onerror="this.src = './public/img/whos_that_pokemon.png';">
          </a>
        </div>
      <% } %>  
    </div>
    </div>
 
  </main>
</body>
</html>