<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %> 
<body>
  <header>
    <%- include("partials/header.ejs") %> 
  </header>
  <main>
    <form class="row g-3" action="/pokemon" method="post">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Name</label>
        <input type="name" class="form-control" name="name">
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Image</label>
        <input type="name" class="form-control" name="img">
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">HP</label>
        <input type="name" class="form-control" name="hp">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Type</label>
        <select id="inputState" class="form-select">
          <option selected>Choose Type</option>
          <option name="fire">Fire</option>
          <option name="type">Water</option>
        </select>
      </div>
      <div class="col-12">
          <button type="submit" class="btn btn-primary">Add Pokemon</button>
      </div>
    </form>
  </main>
</body>
</html>