body {
  box-sizing: border-box;
  background-color: black;
  background-image: url("https://thumbs.gfycat.com/HugeVengefulAmericanbittern-max-1mb.gif");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 5vh;
  background-color: black;
}

nav {
  width: 60%;
}

main {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 80vw;
  height: 90vh;
  background-color:transparent;
}

/* Main Route */
.main-main {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 5%;
  width: 60vw;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.main-main .main-card {
  margin-left: 2%;
  border: 2px goldenrod solid;
  width: 15rem;
  height: 30rem;
  margin-top: 3%;
  background-color: black;
}

.card-image {
  width: 83%;
  height: 50%;
  box-shadow: -10px -10px rbga(218, 165, 32, 0.8);
  margin: 20px;
}

#pokemon-1-silhouette,
#pokemon-2-silhouette,
#pokemon-3-silhouette {
  display: flex;
}

#pokemon-1-img,
#pokemon-2-img,
#pokemon-3-img {
  display: none;
}

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.main-card .side-bar-btn {
  max-width: 60%;
  max-height: 50%;
}
.main-card .card-body {
  display: none;
  flex-direction: column;
  align-items: center;
}

.main-card p,
.main-card a,
.main-card .card-body {
  background-color: transparent;
  color: goldenrod;
}

.main-card a {
  font-size: xx-large;
}

/* Index Route */
.index-main {
  background-color: rgba(0, 0, 0, 0.3);
  width: 70vw;
}

.index-main div,
.col a {
  background-color: transparent;
}
.index-image {
  width: 200px;
  height: 200px;
  box-shadow: -10px -10px rgba(0, 0, 0, 0.8);
  margin: 20px;
}
/* Show Route */
.side-bar-show {
  height: 15%;
  width: 7%;
  position: fixed;
  margin-top: 15%;
  margin-right: 41%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

#edit,
#del {
  width: 100%;
  height: 50%;
  background-color: transparent;
  display: flex;

  align-items: center;
}

.show-card {
  width: 50vw;
  height: 70vh;
  margin-top: 5%;
  background-color:rgba(0, 0, 0, 0.3);
  border: goldenrod 10px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-card-header {
  width: 80%;
  height: 10%;
  margin: 2%;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.show-card-header h1 {
  background-color: transparent;
  color: white;
}

.show-card-header p {
  background-color: transparent;
  color: white;
  font-size: xx-large;
  display: flex;
  margin-top: 2%;
}

.show-card-image {
  width: 40%;
  height: 40%;
  box-shadow: 1em 0.4em 10px rgb(11, 101, 139), -1em -0.4em 0.4em green;
}

.show-card-image img {
  width: 100%;
  height: 100%;
}

.show-card-stats {
  width: 50%;
  height: 8%;
  background-color: rgba(218,165,32, .7);
  color: black;
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.show-card-stats div {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: black;
  font-weight: bold;
  font-size: large;
}

/* New Route */
.side-bar-new {
  height: 5%;
  width: 7%;
  position: fixed;
  margin-top: 5%;
  margin-left: 2%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.new-card-stats {
  width: 50vw;
  height: 80vh;
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0.4);
  color:white;
  text-shadow: 2px 2px 10px green;
  font-weight: bold;
  border: goldenrod 10px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  margin: 1%;
}

.new-card-stats input {
  margin-bottom: 2%;
}

/* MISC */
.more-stats {
  background-color: transparent;
  color: goldenrod;
  font-size: x-large;
}

.side-bar-btn {
  background-color: goldenrod;
  color: white;
  font-size: x-large;
}

#btn {
  background-color: goldenrod;
  color: white;
  margin-top: 2%;
}
.btn {
  background-color: goldenrod;
  color: white;
  margin-top: 2%;
}

#btn-body {
  color: black;
}
