* {
  background-color:white;
  color: brown;
}

body {
  box-sizing: border-box;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 5vh;
  background-color: dimgrey;
}

main {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 80vw;
  height: 85vh;
  background-color: azure;
}

.card-image {
  width: 20vw;
  height: 20vh;
}

.index-image {
  width: 200px;
  height: 200px;
  box-shadow: 2px 2px black;
  border: 2px red;
margin: 20px;
}